p {
  /* Used to set the properties of all TEXT/PARAGRAGHS on the website. */
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: white;
}

p.navigation {
  /* Sets the NAVIGATION BAR to have it's own properties. */
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 16px;
  color: rgb(70, 70, 70);
}

p.basetext {
  /* Sets the TEXT above my icon to have it's own properties. */
  font-size: 26px;
  font-weight: bold;
  padding-top: 70px;
}

img.myicon {
  /* Sets the properties of my IMAGES. */
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-color: cyan;
  border-width: 3px;
  border-style: solid;
}

p.indev {
  /* Sets the TEXT of the in development to it's own properaties. */
  font-style: italic;
  padding-top: 50px;
}

body {
  /* Used to set the background of ALL pages on the website. */
  /*background-color: rgb(20, 20, 20);*/
  background-image: url("images/VoidBackground.gif");
  background-size: 150px;
}

a {
  /* Used to set the properties of all LINKS on the website. */
  text-decoration: none;
  color: cyan;
}

a:hover {
  /* Used to set the properties of all LINKS on the website. */
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  /*background-color: rgb(30, 30, 30);*/
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(40, 40, 40);
  color: cyan;
}
