div.center {
  /* Used to create a centeral division for all elemetes away from the background. */
  display: block;
  margin-top: 30px;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 2px rgb(40, 40, 40);
  background: rgb(10, 10, 10);
  border-radius: 20px;
}

p {
  /* Used to set the properties of all TEXT/PARAGRAGHS on the website. */
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

p.basetext {
  /* Sets the TEXT above my icon to have it's own properties. */
  margin: 16px;
  font-size: 26px;
  font-weight: bold;
}

img.myicon {
  /* Sets the properties of my IMAGES. */
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-color: cyan;
  border-width: 3px;
  border-style: solid;
  background-color: rgb(10, 10, 10);
  color: white;
}

p.indev {
  /* Sets the TEXT of the in development to it's own properaties. */
  color: cyan;
  font-style: italic;
  margin-top: 16px;
}

body {
  /* Used to set the background of ALL pages on the website. */
  background-color: rgb(10, 10, 10);
  background-image: url("images/VoidBackground.gif");
  background-size: 150px;
}

a {
  /* Used to set the properties of all LINKS on the website. */
  text-decoration: none;
  color: cyan;
}

a:hover {
  /* Used to set the properties of all LINKS on the website. */
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  /*background-color: rgb(30, 30, 30);*/
}

li a {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(40, 40, 40);
  color: cyan;
  border-radius: 17px;
}

.grid-container {
  display: grid;
  grid-template-columns: 560px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "image desc";
  /*justify-content: space-evenly;*/
  align-content: center;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
  vertical-align: top;
}

.item1 {
  grid-area: header;
  color: cyan;
}
